<% page = {
  title: 'stuff'
} %>
<% assets = {
  css: [
  'styles.css'
  ],
  js: [
  'script.js'
  ]
} %>
<div class="page-wrapper">
  <h2>Shane is the rad.</h2>
  <p>I love stuff and node.</p>
</div>

